<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link asp-href-include="/**/*.css" asp-href-exclude="**/*reboot*,**/*grid*,**/*rtl*,**/*utilities*" />

</head>
<body>
    <div pre-post="Tag Helpers" add-footer = "false">
        @RenderBody()
    </div>
</body>
</html>
