@using WebEmpty.Models
@model Product

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form method="post" asp-controller="Home" asp-action="Create" asp-antiforgery="true">
    <div class="form-group">
        <label asp-for="Name"></label>
        <select class="form-control" asp-for="Name" asp-items = "ViewBag.Name" value="">
            <option disabled selected value="">Select</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input class="form-control" asp-for="Price" />
    </div>
    
    <div>
        <select class="form-control" asp-for="Quantity" asp-items="ViewBag.Quantity">
            <option disabled selected value="">Select Quantity</option>
            
        </select>
    </div>
    <button type="submit" backgrouncolor="danger">Add</button>
    <aspbutton type="submit" ></aspbutton>
</form>



